<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.matsu.choe.cloudmusic.datasync.mapper.comment.CommentExtMapper">
  
  <insert id="insertList">
    insert into t_comment (comment_id, user_id, parent_comment_id, 
      work_id, work_type, content, 
      like_count, create_time, update_time
      )
    values
    <foreach collection="list" item="record" index="index" separator=",">
    (#{record.commentId,jdbcType=INTEGER}, #{record.userId,jdbcType=INTEGER}, #{record.parentCommentId,jdbcType=INTEGER}, 
      #{record.workId,jdbcType=INTEGER}, #{record.workType,jdbcType=CHAR}, #{record.content,jdbcType=VARCHAR}, 
      #{record.likeCount,jdbcType=INTEGER}, #{record.createTime,jdbcType=TIMESTAMP}, #{record.updateTime,jdbcType=TIMESTAMP}
      )
    </foreach>
  </insert>
  
</mapper>